.ins-c-logger {
    background: var(--ins-c-logger--BackgroundColor);
    width: 1000px;
}

.logger__grid {
    border: none;
}

// .ins-loggerToolbar__title {
//     background: var(--ins-c-logger--BackgroundColor);
//     width: 1000px;
// }


