// don't use floats, they're old. We have Flex now which solves everything float wanted to be
.logger__toolbar{
    border: 1px solid var(--ins-toolbar-border-color);
}

// we're using PF's button now
.toolbar__icons {
    padding: 6px 16px !important; // this !important will go away when we put it in app
}

.toolbar--text-input {
    background-color: green;
    margin-right: 500px;
    width: 3000px;
}