.ins-logger-cell {
    background: var(--logger-background-color);
    display: flex;
    align-items: center; // center everything vertically

    &.cell__data-column {
        // background: var(--logger-root-background-color);
        font-size: var(--md-font-size);
        padding-left: 16px;
        &:hover {
            background: var(--hover-row-color);
            cursor: pointer; // show the user they can click it
            // font-size: 105%; We don't want to change the font-size for this. Background should be enough
            & + .cell__stamp-column { background: var(--hover-row-color) }
        }
        &.cell--inFocus, &.cell--inFocus + .cell__stamp-column {
            background: var(--pf-global--palette--light-green-100);
        }
    }
    &.cell__index-column {
        background: var(--data-column-background-color);
        justify-content: center;  // center the row numbers
        color: var(--index-font-color);
        border-right: 1px solid var(--index-border-color);
    }

    &.cell__data-column.cell--highlighted,  &.cell__data-column.cell--highlighted + .cell__stamp-column {
        background: var(--active-row-color) ;
    }
}

.ins-logger-cell--searched-row {
    background: yellow;
}
